<div class="row">
  <div class="col-12">
    <div class="main">
      <h2>Register</h2>
      <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        <div *ngFor="let key of getGroupKeys()" class="form-group">
          <label for="">{{ key }}</label>
          <input [type]="key != 'birthDate' ? 'text' : 'date'"
            [formControlName]="key"
            class="form-control">
          <div [hidden]="formGroup.controls[key].valid || formGroup.controls[key].pristine" class="error-message">
            Please correct the values.
          </div>
        </div>
        <button
        [disabled]="formGroup.status != 'VALID'" class="btn btn-success" type="submit">register</button>
      </form>
    </div>
  </div>
</div>
